.loginContainer {
  height: 100vh;
}

.imageContainer {
  background-image: url('../../B&Bolt.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.formContainer {
  margin: 20px 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
